.landing-button {
    width: 10rem;
    border-radius: 16px;
    padding: 1rem 1.5rem;    
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    align-self: center;
    cursor: pointer;
    border: none;
}